<?xml version="1.0"?>
<launch>
  <!--include file="$(find gazebo_ros)/launch/willowgarage_world.launch"-->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/> 
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

 <param name="robot_description" command="$(find xacro)/xacro $(find hokuyo_laser_robot_description)/urdf/hokuyo_laser_robot.xacro" />

<!-- Spawn a robot into Gazebo -->
 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model hokuyo_laser_robot" />
 <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50" />
 </node> 
</launch>


